@page
@model AuthRazor.Pages.Account.Login
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="LoginDto.UserName" class="control-label"></label>
        <input asp-for="LoginDto.UserName" class="form-control" />
        <span asp-validation-for="LoginDto.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LoginDto.Password" class="control-label"></label>
        <input asp-for="LoginDto.Password" class="form-control" type="password" />
        <span asp-validation-for="LoginDto.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

